.menu {
  height: 50px;
  width: 100%;
  background: linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%),
    radial-gradient(100% 246.94% at 100% 0%, #ffffff 0%, #020063 100%),
    linear-gradient(58.72deg, #2200f2 0%, #530000 100%),
    linear-gradient(154.03deg, #b70000 0%, #ff003d 74.04%),
    linear-gradient(341.1deg, #ff0000 7.52%, #0038ff 77.98%),
    linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%),
    radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%);
  background-blend-mode: overlay, color-burn, screen, overlay, difference,
    difference, normal;

  div {
    cursor: pointer;
    transition: 1s;
    float: right;
    margin: 5px;
    font-size: 20px;
    color: cornflowerblue;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  div:hover {
    transition: 1s;
    transform: scale(1.2);
  }
}
